In [11]:
# Pedimos los numeros
while True:
    try:
        num1=input("1er. número: ")
        num1=int(num1)
        break
    except ValueError:
        print("1er. número es inválido, reintente")
while True:
    try:
        num2=input("2do. número: ")
        num2=int(num2)
        break
    except ValueError:
        print("2do. número es inválido, reintente")
while True:
    try:
        # Solicitar al usuario la operación
        opcion=input("Elige opción: 1-Suma 2-Resta 3-Multiplica 4-Divida: ")
        opcion=int(opcion)
        if opcion==1:
            operacion=num1+num2
            print(operacion)
            break
        elif opcion==2:
            operacion=num1-num2
            print(operacion)
            break
        elif opcion==3:
            operacion=num1*num2
            print(operacion)
            break
        elif opcion==4:
            operacion=num1/num2
            print(operacion)
            break
        else:
            print("Opción elegida es inválida, reintente")
    except ValueError:
        print("Opción elegida no es un número, reintente")

1er. número: a
1er. número es inválido, reintente
1er. número: 12
2do. número: d
2do. número es inválido, reintente
2do. número: 2
Elige opción: 1-Suma 2-Resta 3-Multiplica 4-Divida: 4
6.0

In [33]:
def factorial(a):
    #mostramos por pantalla el valor ingresado
    #print("Valor inicial: ",str(a))
    #Mientras sea > que 1, multiplique
    factor = 1
    if a>1:
        for i in range(1,a + 1):
            factor = factor*i
        print("El factorial de ",a, " es: "+str(factor))
    else:
        print ("Para el número ",a,"no se puede calcular factorial.")
    
    #if a>1:
    #    a=a*factorial(a-1)
    #Mostramos el resultado
    #print("El factorial de ",a, " es: "+str(factor))
    return factor

factorial(5)

El factorial de  5  es: 120

120

In [19]:
import math
numero = input("Ingreso el valor: ")
factorial = math.factorial(int(num))
print("El factorial de ", num, " es : ",factorial)

Ingreso el valor: 5
El factorial de  5  es :  120

In [15]:
Bulls={53:'James Edwards',9:'Ron Harper',23:'Michael Jordan',25:'Steve Kerr',7:'Toni Kukoč',33:'Scottie Pippen',91:'Dennis Rodman'}
for numero, nombre in Bulls.items():
    print("Con el número "+str(numero)+': '+nombre)

Con el número 53: James Edwards
Con el número 9: Ron Harper
Con el número 23: Michael Jordan
Con el número 25: Steve Kerr
Con el número 7: Toni Kukoč
Con el número 33: Scottie Pippen
Con el número 91: Dennis Rodman